.bg-custom {
    background-color: #fcf5eb !important;
    background-image: url(../pattern_V2.svg);
    background-size: 500px;
}


.btn-custom {
  color: #fff;
  background-color: #25d366;
  border-color: #25d366;
}
.btn-custom:hover {
  color: #fff;
  background-color: #20ba59;
  border-color: #1eae53;
}
.btn-check:focus + .btn-custom, .btn-custom:focus {
  color: #fff;
  background-color: #20ba59;
  border-color: #1eae53;
  box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
}
.btn-check:checked + .btn-custom,
.btn-check:active + .btn-custom, .btn-custom:active, .btn-custom.active,
.show > .btn-custom.dropdown-toggle {
  color: #fff;
  background-color: #1eae53;
  border-color: #1ba34d;
}
.btn-check:checked + .btn-custom:focus,
.btn-check:active + .btn-custom:focus, .btn-custom:active:focus, .btn-custom.active:focus,
.show > .btn-custom.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(37, 211, 102, 0.5);
}
.btn-custom:disabled, .btn-custom.disabled {
  color: #fff;
  background-color: #25d366;
  border-color: #25d366;
}

.hidden {
    display: none;
}
